<div class="header" ng-controller="HeaderController">
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
                <a class="navbar-brand" ui-sref="home">myApp</a>
            </div>
            <div class="collapse navbar-collapse" id="js-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li ui-sref-active="active" ng-hide="authenticated"><a ui-sref="login">Login</a></li>
                    <li ui-sref-active="active" ng-hide="authenticated"><a ui-sref="register">Register</a></li>
                    <li ui-sref-active="active" ng-show="authenticated"><a ui-sref="#" ng-click="signout()">Logout</a></li>
                    <li class="navbar-right ng-show=" authenticated ">Signed in as {{current_user}}</li>
                </ul>
            </div>
        </div>
    </div>
    </div